<header class="_sticky">
	<nav>
		<div class="nav-overlay"></div>
		<% if(page=='index' ) {%>
			<a href="/">
				<svg viewBox="0 0 12.002 12.7" fill="var(--primary)" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient>
							<stop offset="0" stop-color="#fc575e" />
							<stop offset="1" stop-color="#f7b42c" />
						</linearGradient>
					</defs>
					<g paint-order="stroke markers fill" stroke-width="10.32">
						<path d="M8 4.22c.581-.065 3.977.236 3.961.314L5.19 8.361.034 8.214z" fill-opacity=".831" />
						<path
							d="M3.579 4.385C1.42 4.27.047 2.012 0 0h3.982c3.437 0 4.025.013 4.24.044 2.282-.027 3.674 2.286 3.74 4.49M7.38 8.204c2.537.053 4.463 2.109 4.622 4.496l-7.9-.016c-1.18-.019-4.052-1.81-4.068-4.47" />
					</g>
				</svg>
			</a>
				<% }else if(page=='adblock' ) {%>
					<a href="/index.html">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"  width="24" height="24" fill="currentColor">
							<path
								d="M12.787 29.698c-2.052-1.173-5.508-4.364-7.216-6.664C1.848 18.021-.01 12.477 0 6.418c.005-2.713.165-3.071 1.69-3.776C4.147 1.507 6.935.68 9.827.23c1.967-.307 5.99-.307 7.956 0 3.814.594 8.5 2.205 9.35 3.213.455.542.53 1.201.442 3.903-.077 2.353-.264 3.7-.815 5.891-1.476 5.862-4.997 11.208-9.906 15.04-2.287 1.786-2.996 2.034-4.067 1.421zm1.748-1.842c1.52-1.031 3.765-3.136 5.155-4.832 3.852-4.703 6.089-10.982 6.098-17.124.002-1.364-.046-1.426-1.584-2.038-3.637-1.449-6.481-2.001-10.334-2.007-3.798-.005-6.664.524-10.19 1.88-1.704.655-1.86.837-1.86 2.174.001 6.13 2.232 12.383 6.111 17.13 1.785 2.184 5.173 5.16 5.874 5.16.123 0 .452-.154.73-.343zm-1.928-2.936c-1.83-1.503-4.388-4.402-5.077-5.754-.297-.58-.245-1.232.123-1.542.124-.105.656-.38 1.182-.61l.957-.418.583.537c1.743 1.606 4.489 1.874 6.446.63 1.317-.839 2.356-2.353 2.541-3.704.077-.558.086-.567.745-.712 2.384-.524 2.799-.212 2.118 1.595-1.327 3.523-3.821 7.049-6.765 9.563-1.57 1.34-1.703 1.36-2.853.415zm-6.975-9.816c-.599-.42-1.502-4.042-1.737-6.962-.174-2.17-.108-2.314 1.31-2.86 2.765-1.063 5.24-1.492 8.6-1.492 3.368 0 5.835.429 8.617 1.5 1.382.53 1.489.761 1.306 2.829-.18 2.044-.21 2.07-2.734 2.486-1.02.168-1.872.282-1.892.254a49.76 49.76 0 01-.46-.724c-2.405-3.834-7.973-3.35-9.713.846-.166.403-.277 1.065-.326 1.95l-.074 1.34-1.166.516c-1.321.585-1.342.589-1.73.317z" />
						</svg>
					</a>
					  <% } %>
						<ul>
							<% if(page!='index' ) {%>
								<li>
									<a href="/"">
										<img src="./assets/toolz/icon.svg" alt="" width="24" height="24"> &nbsp;
										Toolz - Home
									</a>
								</li>
								<% } %>
									<li>
										<a data-a11y-dialog-show="dlg_support">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												stroke-width="2" stroke="currentColor" fill="none"
												stroke-linecap="round" stroke-linejoin="round">
												<path d="M0 0h24v24H0z" stroke="none" />
												<path
													d="M3 14c.83.642 2.077 1.017 3.5 1 1.423.017 2.67-.358 3.5-1 .83-.642 2.077-1.017 3.5-1 1.423-.017 2.67.358 3.5 1M8 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2M12 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2" />
												<path
													d="M3 10h14v5a6 6 0 01-6 6H9a6 6 0 01-6-6v-5zM16.746 16.726a3 3 0 10.252-5.555" />
											</svg>
											&nbsp; Support
										</a>
									</li>
									<li>
										<a href="https://github.com/Turtlecute33/toolz">

											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
												stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path
													d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
												</path>
											</svg>
											&nbsp; GitHub
										</a>
										<div class="nav-item theme-toggle">
											<span class="light-icon theme-icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
													fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
													<path
														d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z">
													</path>
													<path
														d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2">
													</path>
													<path d="M19 11h2m-1 -1v2"></path>
												</svg>
											</span>
											<span class="dark-icon theme-icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
													fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
													<path
														d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z">
													</path>
													<path d="M6.343 17.657l-1.414 1.414"></path>
													<path d="M6.343 6.343l-1.414 -1.414"></path>
													<path d="M17.657 6.343l1.414 -1.414"></path>
													<path d="M17.657 17.657l1.414 1.414"></path>
													<path d="M4 12h-2"></path>
													<path d="M12 4v-2"></path>
													<path d="M20 12h2"></path>
													<path d="M12 20v2"></path>
												</svg>
											</span>
										</div>
									</li>
						</ul>
						<button aria-label="Nav menu" class="btn-p">
							<svg aria-hidden="true" version="1.1" viewBox="0 0 24 24">
								<line x1="2" y1="4" x2="22" y2="4" id="top" />
								<line x1="2" y1="12" x2="22" y2="12" id="middle-down" />
								<line x1="2" y1="12" x2="22" y2="12" id="middle-up" />
								<line x1="2" y1="20" x2="22" y2="20" id="bottom" />
							</svg>
						</button>
	</nav>
</header>
